body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.indigo{
    color: indigo;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: lightseagreen;
    color: white;
    font-weight: 100;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;
}
.text-manegment{
    text-align: center;
}
.background{
    background-color: lightcoral;
    padding: 20px 50px;
    border-radius: 40px;
    margin: 30px;
}
.half-width1{
    width: 50%;
    padding-right: 10%;
    padding-top: 5%;
}
.half-width1 img{
    width: 70%;
    padding-left: 30%;    
}
.background1{
    background-color: seagreen;
    background-size: 20%;    
}
.shapes{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
}